/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body {
  font-family: 'Quicksand', sans-serif;
}
html,
body,
app-root {
height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  margin: 0;
}
main{
  flex-grow:1;

}
.modal-content{
  border: none;
}
.carousel-indicators {
  bottom: -215px ;
}
.carousel-control-prev, .carousel-control-next{
  bottom: -155px;
}
.navbar-expand-sm .navbar-nav .dropdown-menu{
  left: -31px;
  top: 64px;
}
