<div class="product-modal">
  <div class="modal-header">
    <h2 class="modal-title">Crea Prodotto</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="addProduct()" enctype="multipart/form-data">
      <div class="user-box">
        <input type="text" id="name" name="name" [(ngModel)]="newProduct.name" class="text-black">
        <label>Nome del Prodotto</label>
      </div>
      <div class="user-box">
        <input type="text" id="description" name="description" [(ngModel)]="newProduct.description" class="text-black">
        <label>Descrizione del Prodotto</label>
      </div>
      <div class="user-box">
        <input type="number" id="stock" name="stock" [(ngModel)]="newProduct.stock" class="text-black">
        <label>Quantità in Magazzino</label>
      </div>
      <div class="user-box">
        <input type="number" id="price" name="price" [(ngModel)]="newProduct.price" class="text-black">
        <label>Prezzo</label>
      </div>
      <div class="user-box">
        <input type="text" id="category" name="category" [(ngModel)]="newProduct.categoryId" class="text-black">
        <label>Categoria</label>
      </div>
      <div class="user-box">
        <input type="file" id="image" name="image" class="text-black" (change)="onFileSelected($event)">
        <label>Immagine</label>
      </div>
      <button type="submit" class="btn btn-success">Crea Prodotto</button>
    </form>
  </div>
</div>
