<div class="image">
  <div class="container h-100">
    <div class="row h-100  align-items-center">
      <div class="col-6 text-left">
        <h1>Scopri il potere della natura</h1>
        <p>
          Siamo un negozio di erboristeria dedicato a portare la natura nella tua
          vita quotidiana. La nostra missione è fornire soluzioni naturali per la
          tua salute e il tuo benessere.
        </p>
        <ul>
          <li>Prodotti 100% naturali e biologici</li>
          <li>Rigorosa selezione delle materie prime</li>
          <li>Sostenibilità e rispetto per l'ambiente</li>
        </ul>
        <p>
          Esplora il nostro catalogo e trova il prodotto naturale perfetto per te.
        </p>
        <button routerLink="/product" class="btn btn-primary">Vai al catalogo</button>
      </div>
    </div>
  </div>
</div>
<div class="container">

</div>

