<div class="container">
  <button class="btn btn-primary" (click)="openCategoryModal()">Add Category</button>
  <button class="btn btn-primary" (click)="openProductModal()">Aggiungi Prodotto</button>
  <div class="row">
<div class="container">
  <div class="row">
    <div *ngFor="let product of products" class="col-md-4">
      <div class="card mb-4">
        <img *ngIf="product.img" [src]="product.img" class="card-img-top" alt="{{product.name}}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><strong>Price:</strong> {{ product.price | currency }}</p>
          <p class="card-text"><strong>Stock:</strong> {{ product.stock }}</p>
          <p class="card-text"><strong>Category:</strong> {{ product.category.name}}</p>
          <button class="btn btn-warning" (click)="openEditModal(product)">Edit</button>
          <button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
