<div class="login-box">
  <h2>Registrati</h2>
  <form class="green" (ngSubmit)="signUp()">
    <div class="user-box">
      <input type="text" class="text-black" name="username" [(ngModel)]="registerData.username" required>
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" class="text-black" name="password" [(ngModel)]="registerData.password" required>
      <label>Password</label>
    </div>
    <div class="user-box">
      <input type="text" class="text-black" name="firstName" [(ngModel)]="registerData.firstName" required>
      <label>Nome</label>
    </div>
    <div class="user-box">
      <input type="text" class="text-black" name="lastName" [(ngModel)]="registerData.lastName" required>
      <label>Cognome</label>
    </div>
    <div class="user-box">
      <input type="email" class="text-black" name="email" [(ngModel)]="registerData.email" required>
      <label>Email</label>
    </div>

    <p class="register-text">Hai già un account? <a routerLink="/auth/login">Accedi qui</a></p>
    <button type="submit" class="btn btn-success">Registrati</button>
  </form>
</div>
